.out-in-animation {
  transform: translateY(10%);
  background-color: red;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: .4s;
  animation-name: animatebottom;
  animation-duration: .4s
  }
  @-webkit-keyframes animatebottom {
    0% { transform: translateY(150%) } 
    80% { transform: translateY(5%) } 
    100% { transform: translateY(10%) } 
  }
  @keyframes animatebottom { 
    0% { transform: translateY(150%) } 
    80% { transform: translateY(5%) } 
    100% { transform: translateY(10%) } 
  }